@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary-color: #457be4;
$secondary-color: #ffeb3b;

body {
  font-family: 'Roboto', sans-serif;
  background-color: $primary-color;
}

.navbar li.active a {
  background-color: transparent !important;
}

.error {
  color: red;
}

.Header {
  .navbar {
    background-color: transparent;
    border: none;
    border-radius: 0;

    a, ul.nav li a {
      color: #fff;
    }

    a:hover, li a:hover {
      color: $secondary-color;
    }
  }
}

.Welcome {
  .Welcome__header {
    color: $secondary-color;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .SearchForm {
    .input-group-addon {
      background-color: #ff5722;
      color: $secondary-color;
    }
  }
}

.BusinessItem {
  .BusinessItem__join_button {
    margin-left: 10px;
  }
}

.Profile {
  color: #fff;
  .Profile__last_search {
    font-size: 18px;
  }
  .Profile__last_search_link {
    font-size: 16px;
    color: $secondary-color;
    margin-left: 5px;
  }
  .Profile__events {
    color: $secondary-color;
  }
  .BusinessItem_business {
    margin-bottom: 10px;
    padding: 10px 10px 15px 10px;
    border: 1px solid #f1f1f1;
    .BusinessItem_business_name {
      font-size: 18px;
      margin-right: 10px;
    }
    .btn {
      float: right;
    }
  }
}

.SignOut {
  color: #fff;
}

@media (max-width: 768px) {
  .Profile {
    .Profile__email {
      font-size: 18px;
    }
    .BusinessItem_business {
      .btn {
        float: none;
      }
    }
  }
}
